body{
    text-align: center;
}
.color-block{
    display: flex;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-radius: 20px;
    margin: 1rem;
}

.red{
    background-color: tomato;
}

.yellow{
    background-color: yellowgreen;
}

.purple{
    background-color: purple;
}

.goldenrod{
    background-color: goldenrod;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: lightgreen;
}